.image {
  margin: auto;
  display: block;
  position: absolute;
  max-width: 128px;
  border: 1px solid black;
}

.spinner {
  height: 128px;
  line-height: 128px;
  width: 128px;
  margin: auto;
  display: block;
  max-width: 128px;
  border: 1px solid black;
  text-align: center;
  font-size: 2.5em;
}

.logoContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.imageContainer {
  height: 128px;
  width: 128px;
  margin: 25px auto;
  display: block;
}

text {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
}
