.text {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 1.3em;
  text-align: center;
  margin: auto;
  padding: 15px 0 15px 0;
}

.background {
  background-color: #a9b0b5;
  width: 100%;
  max-width: 600px;
  padding: 0 15px;
  border: 1px solid #2c3e50;
  margin: 10px auto;
}
